@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 66, 65, 0.381);
    font-family: poppins;
}

.con{
    position: relative;
    top: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 350px;
    background-color: white;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.448), inset 20px 20px 70px rgba(0, 0, 0, 0.273);
    border-style: none;
    border-radius: 10px;
    flex-direction: column;
}


.con::before{
    height: 33%;
    width: 100%;
    background-color: purple;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    border-radius:10px 10px 0 0;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 4px solid purple;
    border-radius: 50%;
    padding: 0;
    position: relative;
}

.srj{
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.namebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.namebox .name{
    font-size: large;
    font-weight: 600;
}

.namebox .role{
    font-weight: 500;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.l{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: white;
    background-color: purple;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    text-decoration: none;
    transition: all 1s ease;
}

.l:hover{
    background-color: rgb(82, 0, 82);
    transform: scale(1.3);
}

button{
    background-color: purple;
    border-style: none;
    box-shadow: 10px 10px 80px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: all 1s ease;
}

button:hover{
    background-color: rgb(82, 0, 82);
    transform: scale(1.1);
}

#btn{
    border-radius: 30px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px;
}

.lk{
    display: flex;
    font-size: large;
    opacity: 0.7;
    margin: 10px;
}